@font-face{
    font-family: 'GTAmerica';
    src: url('GTAmerica.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GTAmericaMedium';
    src: url('GT-America-Trial-Medium.otf') format("opentype");
    font-weight: medium;
    font-style: normal;
}

@font-face{
    font-family: 'Panama';
    src: url('Panama.woff') format("opentype");
    font-weight: normal;
    font-style: normal;
}

#crosshair-h{
    width:100%;
    height:0.75px;
    margin-top:-1px;
    z-index: -2;
}
#crosshair-v{
    height:100%;
    width:0.75px;
    margin-left:-1px;
    z-index: -2;
}
.hair{    
    position:fixed;
    background-color:black;
}
.hair_hover{    
    position:fixed;
    background-color:rgb(28, 0, 238);
}

.body{
    color:black;
    font-family: 'GTAmerica';
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.body h1{
    color: black;
    font-family: 'GTAmerica';
    font-size: 90px;
    text-align: center;
}

.body h2{
    color: black;
    font-family: 'GTAmerica';
    font-size: 40px;
}

figure{
    display: block;
    margin: auto;
}

figcaption{
    color:black;
    font-family: "GTAmerica";
    font-size: 16px;
    margin: auto;
    text-align: center;
}

.datetime{
    color:black;
    font-family: "GTAmerica";
    margin-left: 18px;
    font-size: 18px;
    text-align: left;
}

.button{
    text-align:left !important;
}

.button:hover{
    text-align:left !important;
}

.list{
    color: black;
    font-family: 'GTAmerica';
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.list:hover{
    color: rgb(28, 0, 238);
    font-family: 'GTAmericaMedium';
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(28, 0, 238);
    cursor: "none";
}

.link{
    color: black;
    font-family: 'GTAmerica';
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.link:hover{
    color: rgb(28, 0, 238);
    font-family: 'GTAmericaMedium';
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(28, 0, 238);
    cursor: none;
}

.collapsible{
    color: black;
    font-family: 'GTAmerica';
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: none;
}

.collapsible:hover{
    color: rgb(28, 0, 238);
    text-shadow: 1px 1px 10px rgb(28, 0, 238);
    font-family: 'GTAmericaMedium';
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    cursor: none;
}

.content{
    color: black;
    font-family: 'GTAmerica';
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 15px;
}

.text-left{
    text-align: left !important;
}

.video_wrapper {
    position: relative;
    padding-bottom: 45%;  
    width: 80%;
    height: 0;
    margin: auto;
    }
    
    iframe {
        position: absolute;
        display: block;
        margin: auto;
        height: 100%;
        left: 0;
        top: 0;
        filter:drop-shadow(black 1px 1px 3px);
        
    }

.image_wrapper {
    width: 100%;
    margin:auto;
}

    .image_wrapper img{
        width: 40%;
        margin:auto;
        padding-top: 30px;
        padding-bottom: 0px;
        display: block;
    }


.image_wrapper2 {
        width: 100%;
        margin:auto;
    }
    
        .image_wrapper2 img{
            width: 90%;
            margin:auto;
            padding-top: 30px;
            padding-bottom: 15px;
            display: block;
        }
.image_wrapper3 {
    width: 100%;
    margin:auto;
    margin-bottom:0px;
    margin-top:30px;
    }
        
        .image_wrapper3 img{
            width: 90%;
            margin:auto;
            padding:0px;
            display: block;
            }

.image_wrapper4 {
    width: 100%;
    margin:auto;
    margin-bottom:0px;
    margin-top:30px;
    }
                    
    .image_wrapper4 img{
            width: 70%;
            margin:auto;
            padding:0px;
            display: block;
            }
            .image_wrapper5 {
                width: 100%;
                margin:auto;
            }
            
                .image_wrapper5 img{
                    width: 25%;
                    margin:auto;
                    padding-top: 30px;
                    padding-bottom: 0px;
                    display: block;
                }
.drop-shadow {
    filter:drop-shadow(black 1px 1px 3px);
}

#parent{
    height:100vh;
    width: 100vw;
    position: relative;
}

#container_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    z-index:-1;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

    #column_home{
    flex: 1;
    overflow-y: none;
    }

        #column_home_uv{
    flex: 1.5;
    overflow-y: none;
    margin: auto;
        }

        #column_home_uranus{
    flex: .6;
    overflow-y: none;
    padding: 15px;
    margin:auto;
        }

        #column_home_commonsspace{
    flex: 1;
    overflow-y: none;
    padding:15px;
    margin:auto;
        } 

        #column_home_noaa{
    flex: .7;
    overflow-y: none;
    padding:25px;
    margin:auto;
        }

        #column_home_cmb{
    flex: 1;
    overflow-y: none;
    padding:15px;
    margin:auto;
        }

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    position: absolute;
}

#leftcolumn {
    height: 100vh;
    flex: 1;
    overflow-y: scroll;
}

#rightcolumn {
    height: 100vh;
    flex: 4;
    overflow-y: scroll;
}

#container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
}

#column{
    flex: 1;
    overflow-y: none;
}

#container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 0px;
}

#column3{
    flex: 1;
    overflow-y: none;
    align-self: center;
    margin: auto;
    padding: 2%;
}

#column3_left{
    flex: 1;
    overflow-y: none;
    align-self: center;
    margin: auto;
    padding-left: 8%;
    padding-right: 1%;
}
#column3_right{
    flex: 1;
    overflow-y: none;
    align-self: center;
    margin: auto;
    padding-right: 8%;
    padding-left: 1%;
}

